{{ define "showimg"}}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="stylesheet" type="text/css" href="view/style.css"/>
</head>

<body>
<!-- 上方内容 -->
  <div class="box">
  <!-- 图片内容 -->  
  <ul>
{{ range .}}
    <li>
      <div class="deatil">
         <h2>{{ .name }}</h2>
      </div>
      <img src="{{ .imgpath }}" width="160px" height="240px" alt="{{ .filename }}"/>
    </li>
{{ end }}

      <!--第7个图片
  <li>
      <div class="deatil">
         <h2>雄鹰展翅</h2>
         <p>我也希望能像鹰一样飞翔</p>
         <a href="#">点击进入</a>
      </div>
      <img src="images/02980_kingoftheskies_1920x1080.jpg"width="160px" height="240px" alt=""/>
    </li>

-->

  </ul>  
  </div>
</body>
</html>
{{ end }}